<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simulador de Crédito/Inversión </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="../styles/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>



</head>



<header>
	<nav class="menu__wrapper">
		<div class="logo__wrapper">
			<a
				href="../index.html"
				title="Logo"
				class="logo"
			>
			<svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
				<image href="../assets/bank.svg" width="16" height="16" />
			</svg>
			</a>
			<a href="../index.html" class="page__title">
				Dashboard
			</a>
		</div>
		<div class="action-buttons"> 

			<button id="btnGtnEntities" onclick="hrefGtnEntities()" class="action-button">
				<svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
					<image class="img_nav" href="../assets/entity.svg" width="24" height="24"/>
				</svg>
			</button>
			
			<button id="btnAddUser" onclick="hrefAddUser()" class="action-button">
				<svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
					<image class="img_nav" href="../assets/add-user.svg" width="24" height="24"/>
				</svg>
			</button>

			<button id="btnCerrarSesion" onclick="logOut()" class="action-button" style="margin-right: 20px;">
				<svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
					<image class="img_nav" href="../assets/signout.svg" width="24" height="24"/>
				</svg>
			</button>
			<button id="btnIniciarSesion" onclick="hrefLogIn()" class="action-button" style="margin-right: 20px;">
				<svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
					<image class="img_nav" href="../assets/signin.svg" width="24" height="24"/>
				</svg>
			</button> 
		</div>
	</nav>
</header>

<div style="height: 3rem;"></div>

<body style="overflow-y: scroll;">	

<div class="container_main">

	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-2"><span style="color: #074173; font-size: large">Crédito</span><span style="color: #074173; font-size: large">Inversión</span></h6>
			          	<input class="checkbox" type="checkbox" id="option_sim" name="option_sim"/>
			          	<label for="option_sim"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Crédito</h4>
											<div style="display: grid; grid-template-columns: 20fr 10fr; gap: 10px;">
												<div class="form-group">
													<select class="form-style" id="typeCred">
														<option value="" disabled selected>Tipo de Crédito</option>
														
													</select>
													<i class="input-icon uil uil-bill"></i>
												</div>
												<div class="form-group">
													<input style="padding-left: 25px;" class="form-style" placeholder="Tasa de Interés (%)" id="tasaCred" autocomplete="off" disabled type="number" step="0.1" min="0">
												</div>
											</div>

											<div  style="display: grid; grid-template-columns: 20fr 10fr; gap: 10px;">
												<div class="form-group mt-2">
													<select class="form-style" id="cobroIndirCred">
														<option value="" disabled selected>Cobro Indirecto</option>
														
													</select>
													<i class="input-icon uil uil-dollar-alt"></i>
												</div>
												<div class="form-group mt-2">
													<input style="padding-left: 25px;" class="form-style" placeholder="Monto"
													 id="montoCobrIndCred" autocomplete="off" disabled type="number" step="0.1" min="0">
												</div>

											</div>
											<div class="form-group mt-2">
												<input name="montoSolic" class="form-style" placeholder="Monto a Solicitar" id="montoSolic"
												type="number" step="500"
												min="0">
												<i class="input-icon uil uil-money-bill"></i>
											</div>	
											<div class="form-group mt-2">
												<select 
												name="frecCre" class="form-style" id="frecCre">
													<option value="" disabled selected>Frecuencia de Pago</option>
													<option value="mensual">Mensual</option>
													<option value="bimensual">Bimensual</option>
													<option value="trimestral">Trimestral</option>
													<option value="cuatrimestral">Cuatrimestral</option>
													<option value="semestral">Semestral</option>
													<option value="nueve-meses">Nueve Meses</option>
													<option value="anual">Anual</option>
												</select>
												<i class="input-icon uil uil-calendar-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input name="numCuot" class="form-style" placeholder="# Cuotas" id="numCout" autocomplete="off"
												type="number" step="1" min="0">
												<i class="input-icon uil uil-coins"></i>
											</div>
											
											<div class="form-group mt-2">
												<select 
												name="sistAmort" class="form-style" id="sistAmortCred">
													<option value="" disabled selected>Sistema de Amortización</option>
													<option value="aleman">Alemán</option>
													<option value="frances">Francés</option>
												</select>
												<i class="input-icon uil uil-calculator"></i>
											</div>
											<a  id="btnGenerar"style="margin-right: 5px;" class="btn mt-4">Generar</a>
											<button type="reset" class="btn mt-4" id="btnLimpiar">Limpiar</button>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Inversión</h4>
											<div style="display: grid; grid-template-columns: 20fr 10fr; gap: 10px;">
												<div class="form-group">
													<select class="form-style" id="typeInvest">
														<option value="" disabled selected>Tipo de Inversión</option>
														
													</select>
													<i class="input-icon uil uil-bill"></i>
												</div>
												<div class="form-group">
													<input style="padding-left: 25px;" class="form-style" placeholder="Tasa de Interés (%)" id="tasaInvest" autocomplete="off" disabled type="number" step="0.1" min="0">
												</div>
											</div>

											<div  style="display: grid; grid-template-columns: 20fr 10fr; gap: 10px;">
												<div class="form-group mt-2">
													<select class="form-style" id="cobroIndirInvest">
														<option value="" disabled selected>Cobro Indirecto</option>
														
													</select>
													<i class="input-icon uil uil-dollar-alt"></i>
												</div>
												<div class="form-group mt-2">
													<input style="padding-left: 25px;" class="form-style" placeholder="Monto"
													 id="montoCobrIndInvest" autocomplete="off" disabled type="number" step="0.1" min="0">
												</div>

											</div>
											<div class="form-group mt-2">
												<input name="montoInv" class="form-style" placeholder="Monto a Invertir" id="montoInv" type="number" step="500" min="0">
												
												<i class="input-icon uil uil-money-bill"></i>
											</div>	
											<div class="form-group mt-2">
												<select 
												name="frecInv" class="form-style" id="frecInv">
													<option value="" disabled selected>Frecuencia</option>
													<option value="dias">Días</option>
													<option value="meses">Meses</option>
													<option value="anios">Años</option>
												</select>
												<i class="input-icon uil uil-calendar-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input name="plazoInv" class="form-style" placeholder="Plazo" id="plazoInv" autocomplete="off"
												type="number" step="1"
												min="0">
												<i class="input-icon uil uil-clock"></i>
											</div>
											<div class="form-group mt-2">
												<select 
												name="sistAmortInv" class="form-style" id="sistAmortInv">
													<option value="" disabled selected>Sistema de Amortización</option>
													<option value="aleman">Alemán</option>
													<option value="frances">Francés</option>
												</select>
												<i class="input-icon uil uil-calculator"></i>
											</div>
											<a  id="btnGenerarInversion" style="margin-right: 5px;" href="#" class="btn mt-4">Generar</a>
											<button type="reset" class="btn mt-4" id="btnLimpiar2">Limpiar</button>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
	<div class="container_main">
	
		<div class="row justify-content-center mt-5">
			<div class="col-md-10">
				
					<div id="tablaDetalleContainer" class="tabla-scroll"></div>
			</div>
		</div>
	</div>
	
</div>
<div class="card text-center">
	<div id="tarjetaInversionContainer" class="card">
	
	</div>	
</div>

<script>

function logOut() {
	localStorage.removeItem('token');
	window.location.href = "../index.html";
}

function hrefAddUser() {
	window.location.href = "register_user.html"
}

function hrefGtnEntities() {
	window.location.href = "gtn_entities.html"
}

function hrefLogIn() {
  window.location.href = "login.html";
}

let isAdmin = localStorage.getItem('token') ? true : false;

function toggleEditButtonVisibility(isLoggedIn) {
    if (isLoggedIn) {
      document.getElementById("btnIniciarSesion").style.display = "none"; 
      document.getElementById("btnCerrarSesion").style.display = "inline-block"; 
      document.getElementById("btnGtnEntities").style.display = "inline-block";
      document.getElementById("btnAddUser").style.display = "inline-block";
    } else {
      document.getElementById("btnIniciarSesion").style.display = "inline-block";
      document.getElementById("btnCerrarSesion").style.display = "none";
      document.getElementById("btnGtnEntities").style.display = "none";
      document.getElementById("btnAddUser").style.display = "none";
    }
}

toggleEditButtonVisibility(isAdmin);

async function getTypeCredits(id_entity) {
    if (id_entity != 0) {
        const id = { "id_entity": id_entity };

        return fetch('http://localhost/simuladorCredInver-apirest/api-rest/getTypesCredits', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(id)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'OK') {
                return data.types_credits;
            } else {
                console.error('La respuesta de la API no fue exitosa:', data.status);
                return [];
            }
        })
        .catch(error => {
            console.error('Error del servidor:', error);
            return [];
        });
    } else {
        return [];
    }
}

async function getTypeInvestments(id_entity) {
    if (id_entity != 0) {
        const id = { "id_entity": id_entity };

        return fetch('http://localhost/simuladorCredInver-apirest/api-rest/getTypesInvestments', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(id)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'OK') {
                return data.types_investments;
            } else {
                console.error('La respuesta de la API no fue exitosa:', data.status);
                return [];
            }
        })
        .catch(error => {
            console.error('Error del servidor:', error);
            return [];
        });
    } else {
        return [];
    }
}

async function getCobrosIndirectos(id_entity) {
    if (id_entity != 0) {
        const id = { "id_entity": id_entity };

        return fetch('http://localhost/simuladorCredInver-apirest/api-rest/getCobrosIndirectos', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(id)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'OK') {
                return data.cobros_indirect;
            } else {
                console.error('La respuesta de la API no fue exitosa:', data.status);
                return [];
            }
        })
        .catch(error => {
            console.error('Error del servidor:', error);
            return [];
        });
    } else {
        return [];
    }
}

function loadRateTypeCredit(rate) {
	const inputTasaCred = document.getElementById("tasaCred");
	inputTasaCred.value = rate;
}

function loadRateTypeInvest(rate) {
	const inputTasaInvest = document.getElementById("tasaInvest");
	inputTasaInvest.value = rate;
}

function loadMontoCobroIndCrec(monto) {
	const inputMontoCobrInd = document.getElementById("montoCobrIndCred");
	inputMontoCobrInd.value = monto;
}

function loadMontoCobroIndInvest(monto) {
	const inputMontoCobrInd = document.getElementById("montoCobrIndInvest");
	inputMontoCobrInd.value = monto;
}

const urlParams = new URLSearchParams(window.location.search);
const entityId = urlParams.get('id');

const selectTypeCred = document.getElementById("typeCred");
const selectTypeInvest = document.getElementById("typeInvest")
const selectCobrIndCred = document.getElementById("cobroIndirCred")
const selectCobrIndInvest = document.getElementById("cobroIndirInvest")

getTypeCredits(entityId)
    .then(listTypeCredits => {
        listTypeCredits.forEach(opcion => {
            const option = document.createElement("option");
            option.value = opcion.id_cred; 
            option.textContent = opcion.name_cred;
			option.dataset.rateCred = opcion.rate_cred;
            selectTypeCred.appendChild(option);
        });
    })
    .catch(error => {
        console.error("Error al cargar tipos de créditos:", error);
    });

selectTypeCred.addEventListener("change", function() {
    const selectedOption = this.options[this.selectedIndex];
    const rate = selectedOption.dataset.rateCred;
    loadRateTypeCredit(rate);
});

getTypeInvestments(entityId)
.then(listTypeInvestments => {
			listTypeInvestments.forEach(opcion => {
            const option = document.createElement("option");
            option.value = opcion.id_invest; 
            option.textContent = opcion.name_invest;
			option.dataset.rateInv = opcion.rate_invest;
            selectTypeInvest.appendChild(option);
        });
    })
    .catch(error => {
        console.error("Error al cargar tipos de créditos:", error);
    });

selectTypeInvest.addEventListener("change", function() {
    const selectedOption = this.options[this.selectedIndex];
    const rate = selectedOption.dataset.rateInv;
    loadRateTypeInvest(rate);
});

getCobrosIndirectos(entityId)
.then(listCobrosInd => {
			listCobrosInd.forEach(opcion => {
            const option = document.createElement("option");
            option.value = opcion.id_cobro; 
            option.textContent = opcion.name_cobro;
			option.dataset.montoCobro = opcion.monto_cobro;
            selectCobrIndCred.appendChild(option);
        });
    })
    .catch(error => {
        console.error("Error al cargar tipos de créditos:", error);
    });

selectCobrIndCred.addEventListener("change", function() {
    const selectedOption = this.options[this.selectedIndex];
    const monto = selectedOption.dataset.montoCobro;
    loadMontoCobroIndCrec(monto);
});

getCobrosIndirectos(entityId)
.then(listCobrosInd => {
			listCobrosInd.forEach(opcion => {
            const option = document.createElement("option");
            option.value = opcion.id_cobro; 
            option.textContent = opcion.name_cobro;
			option.dataset.montoCobro = opcion.monto_cobro;
            selectCobrIndInvest.appendChild(option);
        });
    })
    .catch(error => {
        console.error("Error al cargar tipos de créditos:", error);
    });

selectCobrIndInvest.addEventListener("change", function() {
    const selectedOption = this.options[this.selectedIndex];
    const monto = selectedOption.dataset.montoCobro;
    loadMontoCobroIndInvest(monto);
});

</script>
<script src="../scripts/Credits.js"></script>
<script src="../scripts/Investment.js"></script>
  
</body>
</html>
<!-- probar -->
