<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simulador de Crédito/Inversión </title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="purify.min.js"></script>
    </head>
    <body>
        <nav class="menu__wrapper">
            <div class="logo__wrapper">
                <a
                    href="../index.html"
                    title="Logo"
                    class="logo"
                >
                <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
                    <image href="../assets/bank.svg" width="16" height="16" />
                </svg>
                </a>
                <a href="../index.html" class="page__title">
                    Dashboard
                </a>
            </div>
            <div class="action-buttons"> 

				<button id="btnGtnEntities" onclick="hrefGtnEntities()" class="action-button">
                    <svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
                        <image class="img_nav" href="../assets/entity.svg" width="24" height="24"/>
                    </svg>
                </button>
				
				<button id="btnAddUser" onclick="hrefAddUser()" class="action-button">
                    <svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
                        <image class="img_nav" href="../assets/add-user.svg" width="24" height="24"/>
                    </svg>
                </button>

                <button id="btnCerrarSesion" onclick="logOut()" class="action-button" style="margin-right: 20px;">
                    <svg aria-hidden="true" height="24" viewBox="0 0 22 22" version="1.1" width="24" data-view-component="true" class="octicon octicon-git-pull-request Button-visual">
                        <image class="img_nav" href="../assets/signout.svg" width="24" height="24"/>
                    </svg>
                </button>
            </div>
        </nav>

        <div class="center-wrap-gtn" style="width: 500px; top: 15%;">
            <div class="section text-center">
                <div class="form-group mt-2">
                    <select 
                    name="frecInv" class="form-style" id="frecInv">
                        <option value="" disabled selected>Entidad Financiera</option>
                        
                    </select>
                    <i class="input-icon uil uil-university"></i>
                </div>
            </div>
        </div>

        <div class="container-tables">
            <div class="table-widget">
                <span class="caption-container">
                    <span class="table-title">
                        Créditos
                    </span>
                    <span class="table-row-count tableCred"></span>
                    <button class="btn btn--primary" style="margin-left: 65px;">Crear</button>
                </span>
                <div class="table-wrapper tableWrCred">
                    <!-- generate table here -->
                </div>
            </div>
            
            <div class="table-widget">
                <span class="caption-container">
                    <span class="table-title">
                        Inversiones
                    </span>
                    <span class="table-row-count tableInvest"></span>
                    <button class="btn btn--primary" style="margin-left: 65px;">Crear</button>
                </span>
                <div class="table-wrapper tableWrInvest">
                    <!-- generate table here -->
                </div>
            </div>
        </div>
        
        <script>
            function logOut() {
                localStorage.removeItem('token');
                window.location.href = "../index.html";
            }

            function hrefAddUser() {
                window.location.href = "register_user.html"
            }

            function hrefGtnEntities() {
                window.location.href = "gtn_entities.html"
            }

            document.addEventListener("DOMContentLoaded", function() {
                async function getEntityFinancial() {

                    let listEntities = [];

                    try {
                    const response = await fetch('http://localhost/simuladorCredInver-apirest/api-rest/getFinancialEntity');
                    const data = await response.json();
                
                    if (data.status == 'OK') {
                        listEntities = data.entities;
                        return listEntities;
                    } else {
                        console.error('La respuesta de la API no fue exitosa:', data.status);
                        return listEntities; // Devuelve la lista vacía en caso de error
                    }
                
                    } catch (error) {
                        console.error('Error del servidor:', error);
                        return listEntities;
                    }
                }

                async function getTypeCredits(id_entity) {
                    
                    const typeCredits = [];

                    if (id_entity != 0) {
                        const id = {
                            "id_entity": id_entity
                        };

                        fetch('http://localhost/simuladorCredInver-apirest/api-rest/getTypesCredits', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(id)
                        })
                        .then(response => response.json())
                        .then(data=> {
                            if (data.status == 'OK') {
                                loadTableCredits(data.types_credits)
                            }
                        })
                        .catch(error => {
                            console.error('Error del servidor', error);
                        });
                    } 
                }

                function loadTableCredits (typeCredits) {

                    let tableRowCount = document.getElementsByClassName('tableCred');
                    tableRowCount[0].innerHTML = `(${typeCredits.length}) Existentes`;

                    let tableBody = document.getElementById('table-rows-cred');

                    const mappedRecords = typeCredits
                    .map(
                    (typeCredit) => {
                        return `<tr>
                        
                        <td class="text-table">${typeCredit.name_cred}</td>
                        <td class="text-table">${typeCredit.rate_cred}</td>
                                        
                        <td class="sticky-right">
                            <button class="btn btn--primary">Eliminar</button>
                        </td>
                    </tr>`;
                    });

                    const tableWrapper = document.querySelector('.tableWrCred');

                    tableWrapper.innerHTML = DOMPurify.sanitize(`
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre Crédito</th>
                                    <th>Tasa de Interés</th>
                                    <th class="sticky-right"></th>
                                </tr>
                            </thead>
                            <tbody id="table-rows-cred">
                                ${mappedRecords.join('')}
                            </tbody>                    
                        </table>
                    `);
                }

                const select = document.getElementById("frecInv");

                getEntityFinancial().then(listEntities => {
                listEntities.forEach(opcion => {
                    const option = document.createElement("option");
                    option.value = opcion.id; 
                    option.textContent = opcion.name;
                    select.appendChild(option);
                });
            }).catch(error => {
                console.error("Error al cargar las entidades financieras:", error);
            });

                select.addEventListener("change", function() {
                    const idSelected = this.value;
                    getTypeCredits(idSelected);
                });
            });

        </script>
    </body>
</html>